<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @pra.color %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pra.name %>
</p>

<%= link_to 'Edit', edit_pra_path(@pra) %> |
<%= link_to 'Back', pras_path %>
